<!-- a template to be used by data-templated -->
{{#news}}
  {{#news.script}}
    {{#news.functions.scripted}}{{/news.functions.scripted}}
  {{/news.script}}  
    <!-- parse for sscript -->
  {{#news.functions.scripted}}
    <script>
      (async () => {
        //this will be injected by the functions::scripted from the json data
        //to access the element inside of it only 
        const scopeElementId = "{{news.cuid}}"
        console.log("SCOPEELEMENTID:", scopeElementId)
        
      })()
    </script>  
  {{/news.functions.scripted}}
  {{#news.styles}}
    <style>
      {{news.styles}}
    </style>  
  {{/news.styles}}  
  <div id="{{news.cuid}}">  
    <h2>News:</h2>
    <h4>{{{news.title}}}</4>
    <ul>
      {{#news.listing}}
        <li>
          <h3>{{{title}}}</h3>
          <p>{{{date}}}</p>
          <p>{{{content}}}</p>
        </li>
      {{/news.listing}}
    </ul>
  </div>  
{{/news}}