<!-- a template to be used by data-templated -->
<!-- ref: https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ -->
{{#slider}}
    <!-- parse for sscript -->
  {{#slider.functions.scripted}}
    <script>
      (async () => {
        //this will be injected by the functions::scripted from the json data
        //to access the element inside of it only 
        const scopeElementId = "{{slider.cuid}}"
        console.log("SCOPEELEMENTID:", scopeElementId)

      })()
    </script>  
  {{/slider.functions.scripted}}
  {{#slider.styles}}
    <style>
      {{{slider.styles}}}
    </style>  
  {{/slider.styles}}  
  <div id="{{slider.cuid}}">  
    <h2>Slider:</h2>
    <div class="slider">
      <!-- the container slides -->
      <div class="slides">
        {{#slider.listing}}
        <div id="{{slider.cuid}}-slide-{{num}}">
          <img src="{{src}}" title="{{title}}" alt="{{title}}">
        </div>
        {{/slider.listing}}
      </div>
      <!-- the number sliding too -->
      <div class="sliding">
        {{#slider.listing}}
          <a href="#{{slider.cuid}}-slide-{{num}}" data-gotoslide="{{slider.cuid}}-slide-{{num}}">{{num}}</a>
        {{/slider.listing}}
      </div>
    </div>
  </div>  
{{/slider}}